name: Build Docs
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'docs/zh/**'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/cache@v2
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-docs

      - run: pip install mkdocs-material

      - name: Build Docs
        run: |
          cd ./docs/zh
          mkdocs gh-deploy --force

