name: Build Docs
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'docs/zh/**'
      - 'docs/en/**'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - uses: actions/cache@v3
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-docs

      - run: pip install mkdocs-material

      - name: Build Docs
        run: |
          cd ./docs
          mkdocs build -f ./zh/mkdocs.yml -d ../site/zh --clean
          mkdocs gh-deploy -f ./en/mkdocs.yml -d ../site --dirty --force

