name: Pytest

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'fastapi_amis_admin/**'
      - 'tests/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'fastapi_amis_admin/**'
      - 'tests/**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10" , "3.11" ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: true

      - uses: actions/cache@v3
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-test

      - name: Install Test Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: pdm install -G test -v

      - name: Test
        run: pdm run pytest

#      - name: Upload coverage
#        uses: codecov/codecov-action@v1
#      - name: Lint with flake8
#        run: |
#          # stop the build if there are Python syntax errors or undefined names
#          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

