name: Publish Python Package

on:
  workflow_dispatch:
  release:
    types:
      - created

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - uses: actions/cache@v3
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-publish

      - name: Install Flit
        if: steps.cache.outputs.cache-hit != 'true'
        run: pip install flit

#      - name: Install Publish Dependencies
#        if: steps.cache.outputs.cache-hit != 'true'
#        run: flit install --symlink

      - name: Publish to PyPI
        #      if: startsWith(github.ref, 'refs/tags')
        run: flit publish
        env:
          FLIT_USERNAME: __token__
          FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
